* {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    
}

#campus-image {
    width: 6rem;
    height: 5rem;
}

#student-image {
    width: 5%;
    height: 5%;
}